<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="qasimpos.Properties.Settings.posConnectionString"
      connectionString="Data Source=(LocalDb)\LocalDBDemo;Initial Catalog=pos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="qasimpos.Properties.Settings.productConnectionString1"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\product.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="qasimpos.Properties.Settings.productConnectionString"
      connectionString="Data Source=(LocalDb)\LocalDBDemo;Initial Catalog=pos;Integrated Security=True" />
    <add name="qasimpos.Properties.Settings.posConnectionString1"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\pos.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="qasimpos.Properties.Settings.posConnectionString2"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\pos.accdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>